<div *ngIf="!isLoading">
    <div class="container" *ngIf="board?._id;else noBoard">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary" (click)="addRect()">
                <i class="bi bi-square-fill"></i>
            </button>
            <button type="button" class="btn btn-primary" (click)="addCircle()">
                <i class="bi bi-circle-fill"></i>
            </button>
            <button type="button" class="btn btn-primary" (click)="addTriangle()">
                <i class="bi bi-triangle-fill"></i>
            </button>
            <button type="button" class="btn btn-primary" (click)="addTextBoxCircle()">
                <i class="bi bi-pencil-fill"></i>
            </button>
            <button type="button" class="btn btn-primary" (click)="addLine()">
                <i class="bi bi-slash-lg"></i>
            </button>
        </div>
    </div>
    <ng-template #noBoard>
        <div class="position-relative">
            <!-- <button class="btn btn-primary create-button-board" (click)="createBoard()">Create Board</button> -->
        </div>
    </ng-template>
</div>
<canvas id="canvas" width="300" height="300"></canvas>